<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wwww.thymeleaf.org
http://wwww.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Tenga Store</title>
</head>
<body>
<div>
    <a href="/">HOME</a> <a href="/productos/mostrar">PRODUCTOS</a>  <a href="/productos/contact">CONTACTO</a>
</div>
<h1>Telefono: 964875125</h1>
<br>
<h1>Localizacion: Calle rey Don Jaime</h1>
</body>
</html>